<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banana</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div id="top">
        <h1>Banana</h1>
        <div id="toc">
            <h3>Table of Content</h3>
            <hr style="height:5px;color:gray;background-color:gray">
            <p><a href="#introduction">Introduction</a></p><hr>
            <p><a href="#seed">Seed Variety</a></p><hr>
            <p><a href="#irrigation">Irrigation</a></p><hr>
            <p><a href="#fertilizer">Fertilizers</a></p><hr>
            <p><a href="#buy">Fertilizers Recommendations</a></p><hr>
            <p><a href="#harvest">Harvest</a></p><hr>
            <p><a href="#price">Price</a></p>
        </div>
        <br><hr style="height:5px;border-width:10;color:gray;background-color:gray"><br>
        <br><img src="../static/Bananaimages/banana.jpg" alt="bananaimg" class="img1" id="introduction">
        <p>As a cereal grain, domesticated Banana is the most widely consumed staple food for over half of the world's human population, especially in Asia It is the agricultural commodity with the third-highest worldwide production. Banana is the most important food crop with regard to human nutrition and caloric intake, providing more than one-fifth of the calories consumed worldwide by humans.
        <br>Banana, a monocot, is normally grown as an annual plant, although in tropical areas it can survive as a perennial and can produce a ratoon crop for up to 30 years. Banana cultivation is well-suited to countries and regions with low labor costs and high rainfall, as it is labor-intensive to cultivate and requires ample water. However, Banana can be grown practically anywhere, even on a steep hill or mountain area with the use of water-controlling terrace systems. Although its parent species are native to ASIA.
        </p>
    </div>
    <br><hr style="height:5px;border-width:10;color:gray;background-color:gray"><br>
    <div id="seed">
        <h2>SEED VARIETY</h2><br>
        <table id="table">
            <tr>
                <th>Duration Varities</th>
                <th>Duration</th>
                <th>Suitable Varities</th>
            </tr>
            <tr>
                <td>Short Duration Time</td>
                <td>90 - 120 days</td>
                <td>Cavendish Banana</td>
            </tr>
            <tr>
                <td>Mdium Duration Time</td>
                <td>120-140 </td>
                <td>Manzano Banana</td>
            </tr>
            <tr>
                <td>Long Duration Time</td>
                <td>140-180 days</td>
                <td>Nendran</td>
            </tr>
        </table>
    </div>
    <br><hr style="height:5px;border-width:10;color:gray;background-color:gray"><br>
    <div id="irrigation">
        <h2>IRRIGATION</h2><br>
        <img src="../static/Bananaimages/irrigation.jpg" alt="irrigation" class="image">
        <p>Irrigation is an important stage in paddy crop. Sufficient availability of irrigation is very important for paddy crop. In food grain crops, it requires more water rather than other crops. In paddy crop, 1500-2500 mm water is required. For direct sowing varieties, irrigation should be done at the interval of 7-8 days.
        <br>It is necessary to fill the water in paddy field up to 4-5 cm after 2-3 week of transplanting because it increases nutrient availability and weed outbreak also reduces in the land. Along with that there should be a proper arrangement of drainage in the field because more water causes insect and disease, by which crop production decreases.
        </p>
    </div>
    <br><hr style="height:5px;border-width:10;color:gray;background-color:gray"><br>
    <div id="fertilizer">
        <h2>FERTILIZERS</h2><br>
        <img src="../static/Bananaimages/fertilizer.jpg" alt="fertilizer" class="image">
        <h4>Application of organic manures:</h4>
        <p>Apply 12.5 t of FYM or compost or green leaf manure @ 6.25 t/ha. If green manure is raised @ 50 kg seeds/ha in situ, incorporate it to a depth of 15 cm using a green manure trampler or tractor. In the place of green manure, press-mud / composted coir-pith can also be used. </p><br><br>
        <div class="ul2">
            <h4>Application of inorganic fertilizers:</h4>
            <ul>
                <li>Apply fertilizer nutrients as per STCR-IPNS recommendations for desired yield target.</li>
                <li>N dose may be through Leaf Color Chart (LCC).</li>
                <li>P & K may be through Site Specific Nutrition Management by Omission plot technique.</li>
            </ul>
            <br>
        </div>
    </div>
    <br><hr style="height:5px;border-width:10;color:gray;background-color:gray"><br>
    <div id="buy">
        <h2>FERTILIZERS RECOMMENDATIONS</h2><br>
        <div id="fercontainer">
            <div class="product"">
                <img src="../static/Bananaimages/fertilizer1.jpg" alt="urea" >
                <a href="https://www.amazon.in/Coated-nitrogen-Fertilizer-application-soluble/dp/B075HDH96D" >Urea Fertilizers for Plants 46% Nitrogen Fertilizer Soil Application and Water Soluble
                </a>
                <p>₹ 189.00</p>
            </div>
            <div class="product">
                <img src="../static/Bananaimages/fertilizer2.jpg" alt="cowdung">
                <a href="https://www.flipkart.com/homemade-organic-fertilizer-cow-dung-1kg-manure/p/itmfba4mztavfjh2?gclid=Cj0KCQjw6-SDBhCMARIsAGbI7Ug7UKM7pOoeKUcU1Omb-ITJK9xUIoW-3oCz-GsMsN3jyIIqS7GhYwoaAlbSEALw_wcB&pid=SMNFB7YYNRFYYH4G&lid=LSTSMNFB7YYNRFYYH4GZKQPU8&marketplace=FLIPKART&cmpid=content_soil-manure_703374203_g_8965229628_gmc_pla&tgi=sem,1,G,11214002,g,search,,161598646720,,,,c,,,,,,,&ef_id=Cj0KCQjw6-SDBhCMARIsAGbI7Ug7UKM7pOoeKUcU1Omb-ITJK9xUIoW-3oCz-GsMsN3jyIIqS7GhYwoaAlbSEALw_wcB:G:s&s_kwcid=AL!739!3!161598646720!!!g!305088224822!&gclsrc=a../static/w.ds">Homemade Organic Fertilizer Organic Cow Dung 1kg Manure
                </a>
                <p>₹ 125.00</p>
            </div>
            <div class="product">
                <img src="../static/Bananaimages/fertilizer3.jpg" alt="cowdung">
                <a href="https://www.flipkart.com/homemade-organic-fertilizer-cow-dung-1kg-manure/p/itmfba4mztavfjh2?gclid=Cj0KCQjw6-SDBhCMARIsAGbI7Ug7UKM7pOoeKUcU1Omb-ITJK9xUIoW-3oCz-GsMsN3jyIIqS7GhYwoaAlbSEALw_wcB&pid=SMNFB7YYNRFYYH4G&lid=LSTSMNFB7YYNRFYYH4GZKQPU8&marketplace=FLIPKART&cmpid=content_soil-manure_703374203_g_8965229628_gmc_pla&tgi=sem,1,G,11214002,g,search,,161598646720,,,,c,,,,,,,&ef_id=Cj0KCQjw6-SDBhCMARIsAGbI7Ug7UKM7pOoeKUcU1Omb-ITJK9xUIoW-3oCz-GsMsN3jyIIqS7GhYwoaAlbSEALw_wcB:G:s&s_kwcid=AL!739!3!161598646720!!!g!305088224822!&gclsrc=a../static/w.ds">Homemade Organic Fertilizer Organic Cow Dung 1kg Manure  (1 kg, Powder)
                </a>
                <p>₹ 155.00</p>
            </div>
        </div>
    </div>
    <br><hr style="height:5px;border-width:10;color:gray;background-color:gray"><br>
    <div id="harvest">
        <h2>HARVEST</h2><br>
        <img src="../static/Bananaimages/harvest.jpg" alt="harvesting" class="harvestimage">
        <ul class="ul3">
            <li><h6>Manual harvesting:</h6>
                <p>
                    Manual harvesting makes use of traditional threshing tools such as threshing racks, simple treadle threshers and animals for trampling or by hand using sharp knives or sickles. Gives 55-60 % grain recovery.
                </p>
            </li>
            <li ><h5>Manual harvesting and machine threshing:</h5>
                <p>Banana is manually threshed, then cleaned with a machine thresher.</p>
                <ul class='harvesttypes'>
                    <li><h6>Machine reaping and machine threshing</h6>
                        <p>
                            A reaper cuts and lays the crop in a line. Threshing and cleaning can then be performed manually or by machine.
                        </p>
                    </li>
                    <li><h6>Combine harvesting</h6>
                        <p>The combine harvester combines all operations from paddy harvesting to Banana extraction - cutting, handling, threshing and cleaning. Gives 50 % recovery.</p>
                    </li>
                </ul>
            </li>
        </ul>
        <br><hr style="height:5px;border-width:10;color:gray;background-color:gray"><br>
        <div id="price">
            <h2>PRICE</h2>
            <br>
            <table id="table">
                <tr>
                    <th>Varieties</th>
                    <th>Min Price</th>
                    <th>Max Price</th>
                </tr>
                <tr>
                    <td>Karpuravalli</td>
                    <td>Rs 50/Kg</td>
                    <td>Rs 78/Kg</td>
                </tr>
                <tr>
                    <td>Poovan Banana</td>
                    <td>Rs 45/Kg</td>
                    <td>Rs 135/Kg</td>
                </tr>
                <tr>
                    <td>Nendhran Banana</td>
                    <td>Rs 35/Kg</td>
                    <td>Rs 85/Kg</td>
                </tr>
            </table>
        </div>
</body>
</html>
