<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/fertilizers.css" />
        <link rel="icon" href="../staic/ft.png" />
        <title>Fertilisers and Seeds</title>
    </head>
    <body>
        <nav>
            <div class="logo">
                <a href="/"
                    ><img src="../static/farmtext.png" style="width: 230px; height: 70px"
                /></a>
            </div>
            <div>
                <ul class="navigation1">
                    <li class="navi">
                        <a href="/home" class="box">Home</a>
                    </li>
                    <li class="navi active">
                        <span class="dropdown">
                            <button class="dropbtn">Services</button>
                            <span id="myDropdown" class="dropdown-content">
                                <a href="/fertilizer" >Fertilisers and Seeds</a>
                                <a href="/weather" >Weather</a>
                                <a href="/market" >Market Price</a>
                            </span>
                        </span>
                    </li>
                    <li class="navi">
                        <a href="/news" class="box" >News</a>
                    </li>
                    <li class="navi">
                        <a href="/login" class="box">Log In</a>
                    </li>
                    <li class="navi">
                        <a href="/team" class="box" >Our Team</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- first  -->
        <div class="fercontainer">
            <div class="product">
                <img src="../static/riceimages/fertilizer11.jpg" alt="urea" />
                <a
                    href="https://www.amazon.in/Coated-nitrogen-Fertilizer-application-soluble/dp/B075HDH96D"
                    >Urea Fertilizers for Plants 46% Nitrogen Fertilizer Soil
                    Application and Water Soluble
                </a>
                <p>₹ 189.00</p>
            </div>
            <div class="product">
                <img src="../static/riceimages/fertilizer12.jpeg" alt="cowdung" />
                <a
                    href="https://www.flipkart.com/homemade-organic-fertilizer-cow-dung-1kg-manure/p/itmfba4mztavfjh2?gclid=Cj0KCQjw6-SDBhCMARIsAGbI7Ug7UKM7pOoeKUcU1Omb-ITJK9xUIoW-3oCz-GsMsN3jyIIqS7GhYwoaAlbSEALw_wcB&pid=SMNFB7YYNRFYYH4G&lid=LSTSMNFB7YYNRFYYH4GZKQPU8&marketplace=FLIPKART&cmpid=content_soil-manure_703374203_g_8965229628_gmc_pla&tgi=sem,1,G,11214002,g,search,,161598646720,,,,c,,,,,,,&ef_id=Cj0KCQjw6-SDBhCMARIsAGbI7Ug7UKM7pOoeKUcU1Omb-ITJK9xUIoW-3oCz-GsMsN3jyIIqS7GhYwoaAlbSEALw_wcB:G:s&s_kwcid=AL!739!3!161598646720!!!g!305088224822!&gclsrc=a../static/w.ds"
                    >Homemade Organic Fertilizer Organic Cow Dung 1kg Manure
                </a>
                <p>₹ 125.00</p>
            </div>
            <div class="product">
                <img src="../static/riceimages/fertilizer13.jpg" alt="cowdung" />
                <a
                    href="https://www.flipkart.com/homemade-organic-fertilizer-cow-dung-1kg-manure/p/itmfba4mztavfjh2?gclid=Cj0KCQjw6-SDBhCMARIsAGbI7Ug7UKM7pOoeKUcU1Omb-ITJK9xUIoW-3oCz-GsMsN3jyIIqS7GhYwoaAlbSEALw_wcB&pid=SMNFB7YYNRFYYH4G&lid=LSTSMNFB7YYNRFYYH4GZKQPU8&marketplace=FLIPKART&cmpid=content_soil-manure_703374203_g_8965229628_gmc_pla&tgi=sem,1,G,11214002,g,search,,161598646720,,,,c,,,,,,,&ef_id=Cj0KCQjw6-SDBhCMARIsAGbI7Ug7UKM7pOoeKUcU1Omb-ITJK9xUIoW-3oCz-GsMsN3jyIIqS7GhYwoaAlbSEALw_wcB:G:s&s_kwcid=AL!739!3!161598646720!!!g!305088224822!&gclsrc=a../static/w.ds"
                    >Homemade Organic Fertilizer Organic Cow Dung 1kg Manure (1
                    kg, Powder)
                </a>
                <p>₹ 155.00</p>
            </div>
            <div class="product">
                <img src="../static/Appleimages/fertilizer3.jpg" alt="cowdung" />
                <a
                    href="https://www.flipkart.com/mahadev-enterprises-mycorrhiza-granul-biofertillzer-4kg-100-organic-natural-use-plants-home-gardening-all-crops-etc-better-crowth-fertilizer/p/itm77fa6f485c331?pid=SMNG25UFJXJX8EUA&lid=LSTSMNG25UFJXJX8EUAYEPV9U&marketplace=FLIPKART&cmpid=content_soil-manure_8965229628_gmc"
                    >Mahadev enterprises Mycorrhiza Granul Biofertillzer 4kg
                    100% Organic Natural
                </a>
                <p>₹ 99.00</p>
            </div>
        </div>


        <!-- second -->
        <div class="fercontainer">
            <div class="product">
                <img src="../static/Mangoimages/fertilizer3.jpg" alt="cowdung" />
                <a
                    href="https://www.flipkart.com/mahadev-enterprises-mycorrhiza-granul-biofertillzer-4kg-100-organic-natural-use-plants-home-gardening-all-crops-etc-better-crowth-fertilizer/p/itm77fa6f485c331?pid=SMNG25UFJXJX8EUA&lid=LSTSMNG25UFJXJX8EUAYEPV9U&marketplace=FLIPKART&cmpid=content_soil-manure_8965229628_gmc"
                    >Mahadev enterprises Mycorrhiza Granul Biofertillzer 4kg
                    100% Organic Natural
                </a>
                <p>₹ 99.00</p>
            </div>
            <div class="product">
                <img src="../static/Bananaimages/fertilizer1.jpg" alt="fertilizer1"/>
                <a href="https://www.toolsvilla.com/astha-vermi-compost-organic-manure-fertilizer.html">Astha 50 Kg Vermi Compost Organic Manure Fertilizer
                </a>
                <p>₹ 630.00</p>
            </div>
            <div class="product">
                <img src="../static/Bananaimages/fertilizer2.jpg" alt="cowdung" />
                <a
                    href="https://www.flipkart.com/homemade-organic-fertilizer-cow-dung-1kg-manure/p/itmfba4mztavfjh2?gclid=Cj0KCQjw6-SDBhCMARIsAGbI7Ug7UKM7pOoeKUcU1Omb-ITJK9xUIoW-3oCz-GsMsN3jyIIqS7GhYwoaAlbSEALw_wcB&pid=SMNFB7YYNRFYYH4G&lid=LSTSMNFB7YYNRFYYH4GZKQPU8&marketplace=FLIPKART&cmpid=content_soil-manure_703374203_g_8965229628_gmc_pla&tgi=sem,1,G,11214002,g,search,,161598646720,,,,c,,,,,,,&ef_id=Cj0KCQjw6-SDBhCMARIsAGbI7Ug7UKM7pOoeKUcU1Omb-ITJK9xUIoW-3oCz-GsMsN3jyIIqS7GhYwoaAlbSEALw_wcB:G:s&s_kwcid=AL!739!3!161598646720!!!g!305088224822!&gclsrc=a../static/w.ds"
                    >Homemade Organic Fertilizer Organic Cow Dung 1kg Manure
                </a>
                <p>₹ 245.00</p>
            </div>
            <div class="product">
                <img src="../static/Bananaimages/fertilizer3.jpg" alt="cowdung" />  
                <a
                    href="https://www.amazon.in/Trust-Enriched-Organic-Potting-Fertilizer/dp/B07L6BLSDL/ref=sr_1_5?dchild=1&keywords=fertilizer+for+Tomato&qid=1618679179&sr=8-5"
                    >TrustBasket Enriched Premium Organic Earth Magic Potting
                    Soil Mix with Required Fertilizers for Plants - 10 KG
                </a>
                <p>₹ 125.00</p>
            </div>
        </div>


        <!-- third -->
        <div class="fercontainer">
            <div class="product">
                <img src="../static/Appleimages/fertilizer3.jpg" alt="cowdung" />
                <a
                    href="https://www.flipkart.com/mahadev-enterprises-mycorrhiza-granul-biofertillzer-4kg-100-organic-natural-use-plants-home-gardening-all-crops-etc-better-crowth-fertilizer/p/itm77fa6f485c331?pid=SMNG25UFJXJX8EUA&lid=LSTSMNG25UFJXJX8EUAYEPV9U&marketplace=FLIPKART&cmpid=content_soil-manure_8965229628_gmc"
                    >Mahadev enterprises Mycorrhiza Granul Biofertillzer 4kg
                    100% Organic Natural
                </a>
                <p>₹ 99.00</p>
            </div>
            <div class="product">
                <img src="../static/tomatoimages/fertilizer1.jpg" alt="fertilizer1"/>
                <a href="https://www.toolsvilla.com/astha-vermi-compost-organic-manure-fertilizer.html">Astha 50 Kg Vermi Compost Organic Manure Fertilizer
                </a>
                <p>₹ 630.00</p>
            </div>
            <div class="product">
                <img src="../static/tomatoimages/fertilizer2.jpg" alt="cowdung" />
                <a
                    href="https://www.flipkart.com/homemade-organic-fertilizer-cow-dung-1kg-manure/p/itmfba4mztavfjh2?gclid=Cj0KCQjw6-SDBhCMARIsAGbI7Ug7UKM7pOoeKUcU1Omb-ITJK9xUIoW-3oCz-GsMsN3jyIIqS7GhYwoaAlbSEALw_wcB&pid=SMNFB7YYNRFYYH4G&lid=LSTSMNFB7YYNRFYYH4GZKQPU8&marketplace=FLIPKART&cmpid=content_soil-manure_703374203_g_8965229628_gmc_pla&tgi=sem,1,G,11214002,g,search,,161598646720,,,,c,,,,,,,&ef_id=Cj0KCQjw6-SDBhCMARIsAGbI7Ug7UKM7pOoeKUcU1Omb-ITJK9xUIoW-3oCz-GsMsN3jyIIqS7GhYwoaAlbSEALw_wcB:G:s&s_kwcid=AL!739!3!161598646720!!!g!305088224822!&gclsrc=a../static/w.ds"
                    >Homemade Organic Fertilizer Organic Cow Dung 1kg Manure
                </a>
                <p>₹ 245.00</p>
            </div>
            <div class="product">
                <img src="../static/tomatoimages/fertilizer3.jpg" alt="cowdung" />
                <a
                    href="https://www.amazon.in/Trust-Enriched-Organic-Potting-Fertilizer/dp/B07L6BLSDL/ref=sr_1_5?dchild=1&keywords=fertilizer+for+Tomato&qid=1618679179&sr=8-5"
                    >TrustBasket Enriched Premium Organic Earth Magic Potting
                    Soil Mix with Required Fertilizers for Plants - 10 KG
                </a>
                <p>₹ 125.00</p>
            </div>
        </div>



        <!-- fpurth -->
        <div class="fercontainer">
            <div class="product">
                <img src="../static/Mangoimages/fertilizer2.png" alt="cowdung" />
                <a
                    href="https://www.flipkart.com/mahadev-enterprises-mycorrhiza-granul-biofertillzer-4kg-100-organic-natural-use-plants-home-gardening-all-crops-etc-better-crowth-fertilizer/p/itm77fa6f485c331?pid=SMNG25UFJXJX8EUA&lid=LSTSMNG25UFJXJX8EUAYEPV9U&marketplace=FLIPKART&cmpid=content_soil-manure_8965229628_gmc"
                    >Mahadev enterprises Mycorrhiza Granul Biofertillzer 4kg
                    100% Organic Natural
                </a>
                <p>₹ 99.00</p>
            </div>
            <div class="product">
                <img src="../static/Onionimages/fertilizer1.jpg" alt="fertilizer1"/>
                <a href="https://www.toolsvilla.com/astha-vermi-compost-organic-manure-fertilizer.html">Astha 50 Kg Vermi Compost Organic Manure Fertilizer
                </a>
                <p>₹ 630.00</p>
            </div>
            <div class="product">
                <img src="../static/Onionimages/fertilizer2.jpg" alt="cowdung" />
                <a
                    href="https://www.flipkart.com/homemade-organic-fertilizer-cow-dung-1kg-manure/p/itmfba4mztavfjh2?gclid=Cj0KCQjw6-SDBhCMARIsAGbI7Ug7UKM7pOoeKUcU1Omb-ITJK9xUIoW-3oCz-GsMsN3jyIIqS7GhYwoaAlbSEALw_wcB&pid=SMNFB7YYNRFYYH4G&lid=LSTSMNFB7YYNRFYYH4GZKQPU8&marketplace=FLIPKART&cmpid=content_soil-manure_703374203_g_8965229628_gmc_pla&tgi=sem,1,G,11214002,g,search,,161598646720,,,,c,,,,,,,&ef_id=Cj0KCQjw6-SDBhCMARIsAGbI7Ug7UKM7pOoeKUcU1Omb-ITJK9xUIoW-3oCz-GsMsN3jyIIqS7GhYwoaAlbSEALw_wcB:G:s&s_kwcid=AL!739!3!161598646720!!!g!305088224822!&gclsrc=a../static/w.ds"
                    >Homemade Organic Fertilizer Organic Cow Dung 1kg Manure
                </a>
                <p>₹ 245.00</p>
            </div>
            <div class="product">
                <img src="../static/Onionimages/fertilizer3.jpg" alt="cowdung" />
                <a
                    href="https://www.amazon.in/Trust-Enriched-Organic-Potting-Fertilizer/dp/B07L6BLSDL/ref=sr_1_5?dchild=1&keywords=fertilizer+for+Tomato&qid=1618679179&sr=8-5"
                    >TrustBasket Enriched Premium Organic Earth Magic Potting
                    Soil Mix with Required Fertilizers for Plants - 10 KG
                </a>
                <p>₹ 125.00</p>
            </div>
        </div>
        
        <script>
            $(document).ready(function () {
                $("ul.navigation1 > li").click(function (e) {
                 $("ul.navigation1 > li").removeClass("active");
                 $(this).addClass("active");
                  });
              });
          </script>
    </body>
</html>
