<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
        <meta lang="en-us"/>
        <title>Farm Tech-News</title>
        <link rel="icon" href="../static/ft.png">
        <link rel="stylesheet" href="../static/news1.css">    
    </head>
    <body>
        <nav>
            <div class="logo">
                <a href="/"
                    ><img src="../static/farmtext.png" style="width: 230px; height: 70px"
                /></a>
            </div>
            <div>
                <ul class="navigation1">
                    <li class="navi">
                        <a href="/home" class="box">Home</a>
                    </li>
                    <li class="navi">
                        <span class="dropdown">
                            <button class="dropbtn">Services</button>
                            <span id="myDropdown" class="dropdown-content">
                                <a href="/fertilizer">Fertilisers and Seeds</a>
                                <a href="/weather" >Weather</a>
                                <a href="/market" >Market Price</a>
                            </span>
                        </span>
                    </li>
                    <li class="navi active">
                        <a href="/news" class="box" >News</a>
                    </li>
                    <li class="navi">
                        <a href="/login" class="box">Log In</a>
                    </li>
                    <li class="navi">
                        <a href="/team" class="box" >Our Team</a>
                    </li>
                </ul>
            </div>
        </nav>
        <main>
            <h1>Latest :</h1>
            <div class="fercontainer">
                <a target="_blank" href="https://economictimes.indiatimes.com/news/economy/agriculture/disruption-in-sugar-supply-chain-likely-to-be-minimal-due-to-night-curfew-lockdown-isma/articleshow/82101260.cms">
                    <div class="product">
                        <img src="https://img.etimg.com/thumb/msid-82101371,width-300,imgsize-450541,,resizemode-4,quality-100/1.jpg"><br>
                        <i>Apr 16,2021<br></i><i>PTI, The Economic Times</i>
                        <div class="head">Disruption in sugar supply chain likely to be minimal due to night curfew, lockdown: ISMA</div>
                        <div class="sub">Sugar exports were at 2.97 million tonne till March of this season, against the mandatory quota of 6 million tonne set...</div>                    
                    </div>
                </a>   
                <a target="_blank" href="https://economictimes.indiatimes.com/news/economy/agriculture/govt-inks-mou-with-microsoft-to-provide-post-harvest-solutions-to-farmers/articleshow/82076622.cms">
                    <div class="product">
                        <img src="https://img.etimg.com/thumb/msid-82076622,width-160,height-120,imgsize-229076/govt-inks-mou-with-microsoft-to-provide-post-harvest-solutions-to-farmers.jpg"><br>
                        <i>Apr 15,2021<br></i><i>By Rituraj Tiwari, The Economic Times</i>
                        <div class="head">Govt inks MoU with Microsoft to provide post-harvest solutions to farmers</div>
                        <div class="sub">As per the memorandum of understanding (MoU), Microsoft through its local partner CropData will leverage master...</div>                    
                    </div>
                </a>    
                <a target="_blank" href="https://economictimes.indiatimes.com/news/economy/agriculture/area-under-summer-crops-up-by-16-4-from-last-year/articleshow/81984960.cms">
                    <div class="product">
                        <img src="https://img.etimg.com/thumb/msid-81984960,width-160,height-120,imgsize-767473/area-under-summer-crops-up-by-16-4-from-last-year.jpg"><br>
                        <i>Apr 09,2021<br></i><i>By Rituraj Tiwari, The Economic Times</i>
                        <div class="head">Area under summer crops up by 16.4% from last year</div>
                        <div class="sub">“Due to intermittent rains during this period, the moisture content in the soil is suitable for the growth of crops. We expect a good harvest as the water in major reservoirs...</div>                    
                    </div>
                </a>
            </div> 
            <h1>Other Articles</h1>
            <div class="fercontainer">
                <a target="_blank" href="https://economictimes.indiatimes.com/news/economy/agriculture/demand-for-fruits-veggies-stable-in-maha/articleshow/81976555.cms">
                    <div class="product">
                        <img src="https://img.etimg.com/thumb/msid-81976555,width-160,height-120,imgsize-256436/demand-for-fruits-veggies-stable-in-maharashtra.jpg"><br>
                        <i>Apr 16,2021<br></i><i>By Jayashree Bhosale, The Economic Times</i>
                        <div class="head">Demand for fruits, veggies stable in Maharashtra</div>
                        <div class="sub">Unlike last year when the sale of pulses, rice, flour and other essential food items had more than doubled in April 2020 as retail household consumers had resorted to...</div>                    
                    </div>
                </a>   
                <a target="_blank" href="https://economictimes.indiatimes.com/news/economy/agriculture/farm-input-cost-set-to-rise-with-increase-in-fertiliser-prices/articleshow/81971698.cms">
                    <div class="product">
                        <img src="https://img.etimg.com/thumb/msid-81971698,width-160,height-120,imgsize-224505/farm-input-cost-set-to-rise-with-increase-in-fertiliser-prices.jpg"><br>
                        <i>Apr 08,2021<br></i><i>By Rituraj Tiwari, The Economic Times</i>
                        <div class="head">Farm input cost set to rise with increase in fertiliser prices</div>
                        <div class="sub">Similarly, the price of NPK will range from Rs 1500-1800 a bag - a rise of almost 50% from earlier price tag. Other companies have also announced rise in...</div>                    
                    </div>
                </a>    
                <a target="_blank" href="https://economictimes.indiatimes.com/news/economy/agriculture/rbi-clears-over-rs-21000-cr-towards-ccl-for-wheat-procurement-in-punjab/articleshow/81918036.cms">
                    <div class="product">
                        <img src="https://economictimes.indiatimes.com/thumb/msid-81918036,width-160,height-120,imgsize-333376/rbi-clears-over-rs-21000-cr-towards-ccl-for-wheat-procurement-in-punjab.jpg"><br>
                        <i>Apr 09,2021</i><br><i>PTI, The Economic Times</i>
                        <div class="head">RBI clears over Rs 21,000 cr towards CCL for wheat procurement in Punjab</div>
                        <div class="sub">The release of the CCL would facilitate the state government in making timely payments to farmers against purchases of food grains in the current...</div>                    
                    </div>
                </a>
            </div>   
        </main>
        
        <script>
            $(document).ready(function () {
                $("ul.navigation1 > li").click(function (e) {
                 $("ul.navigation1 > li").removeClass("active");
                 $(this).addClass("active");
                  });
              });
          </script>
    </body>
</html>        