<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tomato</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div id="top">
        <h1>TOMATO</h1>
        <div id="toc">
            <h3>Table of Content</h3>
            <hr style="height:5px;color:gray;background-color:gray">
            <p><a href="#introduction">Introduction</a></p><hr>
            <p><a href="#seed">Seed Variety</a></p><hr>
            <p><a href="#irrigation">Irrigation</a></p><hr>
            <p><a href="#fertilizer">Fertilizers</a></p><hr>
            <p><a href="#buy">Fertilizers Recommendations</a></p><hr>
            <p><a href="#harvest">Harvest</a></p><hr>
            <p><a href="#price">Price</a></p>
        </div>
        <br><hr style="height:5px;border-width:10;color:gray;background-color:gray"><br>
        <br><img src="../static/tomatoimages/tomatoes-1200x628-facebook-1200x628.jpg" alt="tomatoimg" class="img1" id="introduction">
        <p>Tomato is a grass widely cultivated for its seed, a cereal grain which is a worldwide staple food. The many species of Tomato together make up the genus Triticum; the most widely grown is common Tomato .Suggests that Tomato was first cultivated in the regions of the Fertile Crescent around 9600 BCE. Botanically, the Tomato kernel is a type of fruit called a caryopsis.
        <br>Globally, it is the leading source of vegetable protein in human food, having a protein content of about 13%, which is relatively high compared to other major cereals but relatively low in protein quality for supplying essential amino acids. When eaten as the whole grain, Tomato is a source of multiple nutrients 
        </p>
    </div>
    <br><hr style="height:5px;border-width:10;color:gray;background-color:gray"><br>
    <div id="seed">
        <h2>SEED VARIETY</h2><br>
        <table id="table">
            <tr>
                <th>Varities</th>
                <th>Time to flower</th>
                <th>Maturity time</th>
                <th>Yield/q./ha</th>
            </tr>
            <tr>
                <td>HD 2189</td>
                <td>60-65</td>
                <td>110-115</td>
                <td>30-35</td>
            </tr>
            <tr>
                <td>Sonalika</td>
                <td>55-60 </td>
                <td>95-100</td>
                <td>25-30</td>
            </tr>
            <tr>
                <td>Purna</td>
                <td>55-60</td>
                <td>100-105	</td>
                <td>25-30</td>
            </tr>
            <tr>
                <td>MACS 1967</td>
                <td>55-60</td>
                <td>105-110</td>
                <td>8-10</td>
            </tr>
        </table>
    </div>
    <br><hr style="height:5px;border-width:10;color:gray;background-color:gray"><br>
    <div id="irrigation">
        <h2>IRRIGATION</h2><br>
        <img src="../static/tomatoimages/irrigation.jpg" alt="irrigation" class="harvestimage">
        <p>In the cultivation of tomato under greenhouse the supply of water and much of the nutrients is made generalized by drip irrigation.

            In tomato cultivation, drip irrigation can save a lot of water and dose both the amount of water provided and the irrigation time. In addition, the soil is moistened more gradually without altering the structure of the soil. <br> The four methods of irrigation are</p>
        <ol class="ul3">
            <li>Cintape</li>
            <li>Interlinea</li>
            <li>Ceodrip</li>
            <li>Hydropony kits</li>
        </ol>
        <p>The crop requires 4 - 6 irrigations depending on the soil type and rainfall. Tomato crop requires minimum of 5 irrigations at the following critical stages. Crown root initiation and flowering are the most critical stages.</p>
    </div>
    <br><hr style="height:5px;border-width:10;color:gray;background-color:gray"><br>
    <div id="fertilizer">
        <h2>FERTILIZERS</h2><br>
        <img src="../static/tomatoimages/fertilizer.jpg" alt="fertilizer" class="harvestimage">
        <p>An application of phosphorus as starter fertilizer can be an effective method for part or even all the phosphorus needs of Tomato. Tomato plants typically show a significant increase in fall tillers and better root development with the use of starter fertilizer – both phosphorus and nitrogen</p>
        <div class="ul5">
            <p>The fertilizer requirement of the irrigated Tomato crop are as follows:</p>
            <ul>
                <li>Nitrogen (N) @80 - 120 kg/ha</li>
                <li>Phosphorus (P2O5) @ 40- 60 kg/ha</li>
                <li>Potash (K2O) @ 40 kg/ha.</li>
            </ul>
            <br>
        </div>
    </div>
    <br><hr style="height:5px;border-width:10;color:gray;background-color:gray"><br>
    <div id="buy">
        <h2>FERTILIZERS RECOMMENDATIONS</h2><br>
        <div id="fercontainer">
            <div class="product">
                <img src="../static/tomatoimages/fertilizer1.jpg" alt="fertilizer1">
                <a href="https://www.toolsvilla.com/astha-vermi-compost-organic-manure-fertilizer.html">Astha 50 Kg Vermi Compost Organic Manure Fertilizer
                </a>
                <p>₹ 630.00</p>
            </div>
            <div class="product">
                <img src="../static/tomatoimages/fertilizer2.jpg" alt="cowdung">
                <a href="https://www.flipkart.com/homemade-organic-fertilizer-cow-dung-1kg-manure/p/itmfba4mztavfjh2?gclid=Cj0KCQjw6-SDBhCMARIsAGbI7Ug7UKM7pOoeKUcU1Omb-ITJK9xUIoW-3oCz-GsMsN3jyIIqS7GhYwoaAlbSEALw_wcB&pid=SMNFB7YYNRFYYH4G&lid=LSTSMNFB7YYNRFYYH4GZKQPU8&marketplace=FLIPKART&cmpid=content_soil-manure_703374203_g_8965229628_gmc_pla&tgi=sem,1,G,11214002,g,search,,161598646720,,,,c,,,,,,,&ef_id=Cj0KCQjw6-SDBhCMARIsAGbI7Ug7UKM7pOoeKUcU1Omb-ITJK9xUIoW-3oCz-GsMsN3jyIIqS7GhYwoaAlbSEALw_wcB:G:s&s_kwcid=AL!739!3!161598646720!!!g!305088224822!&gclsrc=a../static/w.ds">Homemade Organic Fertilizer Organic Cow Dung 1kg Manure
                </a>
                <p>₹ 245.00</p>
            </div>
            <div class="product">
                <img src="../static/tomatoimages/fertilizer3.jpg" alt="cowdung">
                <a href="https://www.amazon.in/Trust-Enriched-Organic-Potting-Fertilizer/dp/B07L6BLSDL/ref=sr_1_5?dchild=1&keywords=fertilizer+for+Tomato&qid=1618679179&sr=8-5">TrustBasket Enriched Premium Organic Earth Magic Potting Soil Mix with Required Fertilizers for Plants - 10 KG
                </a>
                <p>₹ 125.00</p>
            </div>
        </div>
    </div>
    <br><hr style="height:5px;border-width:10;color:gray;background-color:gray"><br>
    <div id="harvest">
        <h2>HARVEST</h2><br>
        <img src="../static/Tomatoimages/harvest.jpg" alt="harvesting" class="harvestimage">
        <ol class="ul3">
            <li><h5>Harvesting:</h5>
                <p>
                    The rain-fed crop reaches the harvest stage much earlier than the irrigated crop. The crop is harvested when the grains become hard and the straw becomes dry and brittle.The harvesting is mostly done by sickle. The crop is threshed by treading with cattle on the threshing-flour or by power driven thresher.
                </p>
            </li>
            <li ><h5>Yield:</h5>
                <p>The national average yield of Tomato grain is about 12 to 13.8 quintals per hectare.</p></li>
            <li ><h5>Storage:</h5>
                <p>The grains should be thoroughly dried before storage. The storage life of the grain is closely related to its moisture content. Grains with less than 10 percent moisture store well. The storage pits, bins or godowns should be moisture-proof and should be fumigated to keep down the stored – grain pests including rats. Zinc phosphide is very effective against rats.</p></li>
        </ol>
        <br><hr style="height:5px;border-width:10;color:gray;background-color:gray"><br>
        <div id="price">
            <h2>PRICE</h2>
            <br>
            <table id="table">
                <tr>
                    <th>Market</th>
                    <th>Min Price(Per Kg)</th>
                    <th>Max Price(Per Kg)</th>
                </tr>
                <tr>
                    <td>Madhya Pradesh</td>
                    <td>INR 17.00</td>
                    <td>INR 19.90</td>
                </tr>
                <tr>
                    <td>Gujarat</td>
                    <td>INR 22.00</td>
                    <td>INR 22.50</td>
                </tr>
                <tr>
                    <td>Uttar Pradesh</td>
                    <td>INR 20.50</td>
                    <td>INR 21.00</td>
                </tr>
                <tr>
                    <td>Rajasthan</td>
                    <td>INR 19.70</td>
                    <td>INR 20.35</td>
                </tr>
            </table>
        </div>
</body>
</html>
